{% extends 'base.twig' %}

{% block title %}{{ month }} · 2021{% endblock %}

{% block header %}
	<header style="background-image: url('/images/home/{{ month_index(month) }}_{{ month }}/banner.jpg">
		<h1 style="text-align: left">{{ month }}</h1>
	</header>
{% endblock %}

{% block article %}{% endblock %}

{% block aside %}
	<aside>
		<ul>
			<li><a href="/">2021</a></li>
		</ul>
	</aside>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="/public/build/frontend.bundle.js"></script>
{% endblock %}
