{% extends 'base.twig' %}

{% block css %}
	{{ parent() }}
	<link rel="stylesheet" href="/public/build/admin.css">
	<style>
		.CodeMirror {
			height: 70vh !important;
		}

		#toggle-nav-button {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			z-index: 5;
		}

		#last-saved {
			display: block;
			position: fixed;
			bottom: 0;
			right: 0;
			color: green;
		}
	</style>
{% endblock %}

{% block returnLink %}
	<a href="/">Home</a>
{% endblock %}

{% block header %}
	<header>
		<h1>Admin</h1>
	</header>
{% endblock %}

{% macro renderSubNav(subNav) %}
	{% import _self as self %}
	{% for page in subNav %}
		<li>
			<a href='/admin/edit?file={{ page['id'] }}'>{{ page['title'] }}</a>
			{% if page.children is defined %}
				<ul>
					{{ self.renderSubNav(page.children) }}
				</ul>
			{% endif %}
		</li>
	{% endfor %}
{% endmacro %}

{% from _self import renderSubNav %}
{% block aside %}
	<aside id="nav">
		<a class="fold-button" onclick="toggleFoldContent('#navigation')" href="javascript:void(0)"><h2>Navigation</h2></a>
		<ul class="fold-content" id="navigation">
			<li>
				<a href='/admin'>Admin</a>
			</li>
			<li>
				<a href='/admin/edit/home'>Home</a>
				{{ renderSubNav(nav) }}
			</li>
			<li>
				<a href='/admin/add'>Crate new</a>
			</li>
		</ul>
	</aside>
{% endblock %}

{% block article %}
	<div class="row card-list">
		<div class="card col-12" id="status-card">
			<input style="width: 95%;" type="text" id="status" placeholder="Quickly add a status">
			<a class="btn btn-primary" onclick="publishStatus()" href="javascript:void(0)">Publish</a>
		</div>
		<div class="col-4 card" id="edit-current-card">
			<a class="btn btn-primary" href="/admin/edit/current">Edit current Entry</a>
			<a class="btn btn-primary" href="/admin/add">Add a specific Entry</a>
		</div>
		<div class="col-6 card" id="append-image-card">
			<input type="file" onchange="appendImage(this.files[0])" id="upload-file">
		</div>
	</div>
{% endblock %}


{% block js %}
	{{ parent()}}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	<script>
		const referer = '{{ referer }}';
	</script>
	<script src="/public/build/admin.bundle.js"></script>
{% endblock %}
