{% extends 'admin/admin.twig' %}

{% block title %}
	Admin ·
	{{ page.title }}
{% endblock %}

{% block header %}
	<h1>{{ page.title }}</h1>
{% endblock %}

{% block article %}
	<form method="POST" action="/admin">
		<textarea name="content" id="content"></textarea>
		<input type="hidden" name="file" value="{{ page.id }}">
		<button type="button" onclick="save()">Save</button>
	</form>
	<div>
		<a id="referer" href="javascrtip:void(0)">Return</a>
	</div>
	<div id="last-saved"></div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script>
		$(function () {
window.mde.value(window.decode("{{ base64_encode(page.raw_content) }}"));
});
	</script>
{% endblock %}
